<!DOCTYPE html>
<html>
<head>
    <title>
        Event feed from folkeregisteret
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">

</head>
<body ng-app="folke">
    <div class="container">
        <div class="header">
            <h1>Hello folkeregisteret!</h1>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div>
                    <h2>Guid generator</h2>
                    <input type="button" value="Generate guid" />
                    <span></span>
                </div>
                <command-container submit-text="Create person" command-name="createperson" command="createPerson">
                    <h2>Create person</h2>
                    <div class="form-group">
                        <label for="Id">Id</label>
                        <input type="text" class="form-control" placeholder="Enter guid" ng-model="createPerson.Id" />
                    </div>
                    <div class="form-group">
                        <label for="SSN.Value">SSN</label>
                        <input type="text" class="form-control" placeholder="SSN" ng-model="createPerson.SSN.Value" />
                    </div>
                    <div class="form-group">
                        <label for="Name.Value">Name</label>
                        <input type="text" class="form-control" name="Name.Value" placeholder="Name" ng-model="createPerson.Name.Value" />
                    </div>
                </command-container>
                <command-container submit-text="Add address to person" command-name="addaddresstoperson" command="addAddressToPerson">
                    <h2>Add address to person</h2>
                    <div class="form-group">
                        <label for="Id">Id</label>
                        <input type="text" class="form-control" placeholder="Enter guid" ng-model="addAddressToPerson.Id" />
                    </div>
                    <div class="form-group">
                        <label for="Id">Street</label>
                        <input type="text" class="form-control" placeholder="Street" ng-model="addAddressToPerson.Address.Street" />
                    </div>
                    <div class="form-group">
                        <label for="Id">Street number</label>
                        <input type="text" class="form-control" placeholder="Street number" ng-model="addAddressToPerson.Address.StreetNumber" />
                    </div>
                    <div class="form-group">
                        <label for="Id">Postal code</label>
                        <input type="text" class="form-control" placeholder="Postal code" ng-model="addAddressToPerson.Address.PostalCode" />
                    </div>
                    <div class="form-group">
                        <label for="Id">City</label>
                        <input type="text" class="form-control" placeholder="City" ng-model="addAddressToPerson.Address.City" />
                    </div>
                </command-container>
            </div>
            <div class="col-lg-6">
                <h2>Event log</h2>
                <ul id="log"></ul>
            </div>
        </div>
    </div>
    <ul id="log"></ul>
    <script src="/assets/scripts/jquery-2.1.1.min.js"></script>
    <script src="/assets/scripts/angular.min.js"></script>
    <script src="/assets/scripts/bootstrap.min.js"></script>
    <script src="/assets/scripts/app.js"></script>
</body>
</html>